n8n-workflows/simple-test-workflow.json
{
  "name": "Simple Stock News Test",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "start-node",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "https://finance.yahoo.com/quote/AAPL/news",
        "options": {
          "headers": {
            "User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36"
          }
        }
      },
      "id": "fetch-news",
      "name": "Get AAPL News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "dataPropertyName": "data",
        "extractionValues": {
          "values": [
            {
              "key": "headlines",
              "cssSelector": "h3 a",
              "returnValue": "text",
              "returnArray": true
            },
            {
              "key": "links", 
              "cssSelector": "h3 a",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        }
      },
      "id": "extract-data",
      "name": "Extract Headlines",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Simple test - just show what we found\nconst headlines = $input.first().json.headlines || [];\nconst links = $input.first().json.links || [];\n\nconst results = [];\nfor (let i = 0; i < Math.min(headlines.length, 3); i++) {\n  results.push({\n    symbol: 'AAPL',\n    title: headlines[i],\n    link: links[i],\n    found_at: new Date().toISOString()\n  });\n}\n\nreturn results.map(item => ({ json: item }));"
      },
      "id": "process-data",
      "name": "Process Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get AAPL News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get AAPL News": {
      "main": [
        [
          {
            "node": "Extract Headlines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Headlines": {
      "main": [
        [
          {
            "node": "Process Results", 
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  }
} 