n8n-workflows/simple-test-manual.json
{
  "name": "Simple Test - Manual Trigger",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "id": "manual-trigger"
    },
    {
      "parameters": {
        "url": "https://finance.yahoo.com/quote/AAPL/news/",
        "options": {
          "headers": {
            "User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36"
          }
        }
      },
      "name": "Get AAPL News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        300
      ],
      "id": "get-aapl-news"
    },
    {
      "parameters": {
        "dataPropertyName": "data",
        "extractionValues": {
          "values": [
            {
              "key": "headlines",
              "cssSelector": "h3 a",
              "returnValue": "text",
              "returnArray": true
            },
            {
              "key": "links",
              "cssSelector": "h3 a",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        }
      },
      "name": "Extract Headlines",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "id": "extract-headlines"
    },
    {
      "parameters": {
        "jsCode": "// Simple processing - just show first 3 headlines\nconst headlines = $json.headlines || [];\nconst links = $json.links || [];\n\nconst results = [];\nfor (let i = 0; i < Math.min(headlines.length, 3); i++) {\n  if (headlines[i]) {\n    results.push({\n      symbol: 'AAPL',\n      title: headlines[i],\n      link: links[i] || '',\n      found_at: new Date().toISOString()\n    });\n  }\n}\n\nreturn results.map(item => ({ json: item }));"
      },
      "name": "Show Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ],
      "id": "show-results"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get AAPL News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get AAPL News": {
      "main": [
        [
          {
            "node": "Extract Headlines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Headlines": {
      "main": [
        [
          {
            "node": "Show Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
} 